// https://zellij.dev/documentation/keybindings
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
// https://github.com/ndavd/dotfiles/blob/main/.config/zellij/config.kdl
// zellij setup --dump-config | nvim -

keybinds clear-defaults=true {
    locked {
        bind "Ctrl a" { SwitchToMode "Normal"; }
        bind "Ctrl f" { ToggleFloatingPanes; }
        bind "Ctrl Tab" { GoToNextTab; SwitchToMode "Locked"; }
        bind "Ctrl Shift Tab" { GoToPreviousTab; SwitchToMode "Locked"; }

        // lazygit
        bind "`" {
            // https://github.com/zellij-org/zellij/discussions/2518
            // ~/.config/zsh/scripts/zellij-lazygit
            Run "zellij" "run" "--close-on-exit" "--floating" "--" "zellij-lazygit" {
                close_on_exit true
            }
            SwitchToMode "Locked"
        }
    }
    normal {
        bind "Ctrl a" { Write 1;  SwitchToMode "Locked"; }
        bind "Ctrl f" { Write 6;  SwitchToMode "Locked"; }
        bind "`"      { Write 96; SwitchToMode "Locked"; }

        // lock
        bind "Esc" "Enter" { SwitchToMode "Locked"; }

        // add floating pane
        bind "f" {
            Run "zellij" "action" "new-pane" "--floating" {
                close_on_exit true
            }
            SwitchToMode "Locked"
        }

        // pane
        bind "h" { MoveFocus "Left";  SwitchToMode "Locked"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "j" { MoveFocus "Down";  SwitchToMode "Locked"; }
        bind "k" { MoveFocus "Up";    SwitchToMode "Locked"; }
        bind "s" { NewPane "Down";  SwitchToMode "Locked"; }
        bind "v" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "H" { MovePane "Left";  }
        bind "J" { MovePane "Down";  }
        bind "K" { MovePane "Up";    }
        bind "L" { MovePane "Right"; }
        bind "m" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "X" { CloseFocus; SwitchToMode "Locked"; }
        bind "F" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }

        // tab
        bind "t" { NewTab; SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Right" { MoveTab "Right"; }
        bind "Left"  { MoveTab "Left";  }
        bind "S" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        // bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        // bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        // bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        // bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        // bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        // bind "X" { CloseTab; SwitchToMode "Locked"; }

        // resize
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "Ctrl Left"  { Resize "Increase Left";  }
        bind "Ctrl Down"  { Resize "Increase Down";  }
        bind "Ctrl Up"    { Resize "Increase Up";    }
        bind "Ctrl Right" { Resize "Increase Right"; }

        // scroll
        bind "Ctrl u" { PageScrollUp;   }
        bind "Ctrl d" { PageScrollDown; }
        bind "G" { ScrollToBottom; }
        bind "g" { ScrollToTop; }

        // session
        bind "q" { Detach; }
        bind "M" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }

        // plugins
        // bind "c" {
        //     LaunchOrFocusPlugin "configuration" {
        //         floating true
        //         move_to_focused_tab true
        //     };
        //     SwitchToMode "Locked"
        // }
        // bind "p" {
        //     LaunchOrFocusPlugin "plugin-manager" {
        //         floating true
        //         move_to_focused_tab true
        //     };
        //     SwitchToMode "Locked"
        // }

        // layout
        bind "Space" { NextSwapLayout; }

        // scrollback
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar         { path "tab-bar"; }
    status-bar      { path "status-bar"; }
    compact-bar     { path "compact-bar"; }
    session-manager { path "session-manager"; }
    zjstatus        { location "file:.config/zellij/plugins/zjstatus.wasm"; }
}
pane_frames false
serialize_pane_viewport true
themes {
    nvim-dark {
        bg "#14161b"
        fg "#e0e2ea"
        red "#ffc0b9"
        green "#b3f6c0"
        blue "#a6dbff"
        yellow "#fce094"
        magenta "#ffcaff"
        orange "#f4a261"
        cyan "#8cf8f7"
        black "#07080d"
        white "#eef1f8"
  }
}
theme "nvim-dark"
default_layout "custom"
default_mode "locked"
layout_dir ".config/zellij/layouts/"
