// https://zellij.dev/documentation/keybindings
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
// https://github.com/ndavd/dotfiles/blob/main/.config/zellij/config.kdl
// zellij setup --dump-config | nvim -

keybinds clear-defaults=true {
    locked {
        bind "Ctrl a" { SwitchToMode "Normal"; }
        // bind "Alt f" { ToggleFloatingPanes; }
        bind "Ctrl f" { ToggleFloatingPanes;   }
        // bind "Alt f" { ToggleFocusFullscreen; }

        // lazygit
        bind "Ctrl g" {
            // https://github.com/zellij-org/zellij/discussions/2518
            Run "zellij" "run" "--close-on-exit" "--floating" "--" "lazygit" {
                close_on_exit true
            }
            SwitchToMode "Locked"
        }
    }
    normal {
        // lock
        bind "Esc" "Enter" { SwitchToMode "Locked"; }

        // add floating pane
        bind "f" {
            Run "zellij" "action" "new-pane" "--floating" {
                close_on_exit true
            }
            SwitchToMode "Locked"
        }

        // pane
        // bind "a" { ToggleFloatingPanes; SwitchToMode "Locked"; }
        bind "h" { MoveFocus "Left";  SwitchToMode "Locked"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "j" { MoveFocus "Down";  SwitchToMode "Locked"; }
        bind "k" { MoveFocus "Up";    SwitchToMode "Locked"; }
        bind "s" { NewPane   "Down";  SwitchToMode "Locked"; }
        bind "v" { NewPane   "Right"; SwitchToMode "Locked"; }
        bind "X" { CloseFocus;        SwitchToMode "Locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        // move pane
        bind "Left"  { MovePane "Left";  }
        bind "Down"  { MovePane "Down";  }
        bind "Up"    { MovePane "Up";    }
        bind "Right" { MovePane "Right"; }

        // tab
        bind "t" { NewTab;                   SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0;        }
        bind "Tab" { GoToNextTab;                                   }
        bind "P" { GoToPreviousTab;                                 }
        // bind "Shift Tab" { GoToPreviousTab;                      }
        bind "1" { GoToTab 1;                SwitchToMode "Locked"; }
        bind "2" { GoToTab 2;                SwitchToMode "Locked"; }
        bind "3" { GoToTab 3;                SwitchToMode "Locked"; }
        bind "4" { GoToTab 4;                SwitchToMode "Locked"; }
        bind "5" { GoToTab 5;                SwitchToMode "Locked"; }
        bind "S" { ToggleActiveSyncTab;      SwitchToMode "Locked"; }
        // bind "X" { CloseTab;                 SwitchToMode "Locked"; }
        // move tab
        bind "L" { MoveTab "Right"; }
        bind "H" { MoveTab "Left";  }

        // resize
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "Alt h" { Resize "Increase Left";  }
        bind "Alt j" { Resize "Increase Down";  }
        bind "Alt k" { Resize "Increase Up";    }
        bind "Alt l" { Resize "Increase Right"; }

        // session
        bind "d" { Detach; }
        bind "m" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }

        // layout
        bind "Space" { NextSwapLayout; }
    }

    // renaming modes
    renamepane {
        bind "Esc"   { UndoRenamePane; SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Locked";                 }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Locked";  }
        bind "Enter" { SwitchToMode "Locked";               }
    }
}

plugins {
    tab-bar         { path "tab-bar";         }
    status-bar      { path "status-bar";      }
    // strider         { path "strider"; }
    compact-bar     { path "compact-bar";     }
    session-manager { path "session-manager"; }
}

// simplified_ui true
pane_frames false
themes {
    // https://github.com/rose-pine/zellij
    rose-pine {
        bg "#403d52"
        fg "#e0def4" // inactive tab color
        red "#eb6f92"
        green "#31748f"
        blue "#9ccfd8"
        yellow "#f6c177"
        magenta "#c4a7e7"
        orange "#fe640b"
        cyan "#ebbcba"
        black "#191724" // status bar background
        white "#e0def4" // 'Zellij' text color (alternating tab color in simplified_ui)
    }
}
theme "rose-pine"
default_layout "compact"
default_mode "locked"
layout_dir "/Users/jshu/.config/zellij/layouts/"
ui {
    pane_frames {
        // hide_session_name true
        rounded_corners false
    }
}

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout false

