// https://zellij.dev/documentation/keybindings
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
// https://github.com/ndavd/dotfiles/blob/main/.config/zellij/config.kdl
keybinds clear-defaults=true {
    locked {
        bind "Ctrl a" { SwitchToMode "Normal"; }
        bind "Ctrl f" { ToggleFloatingPanes;   }
        bind "Alt  f" { ToggleFocusFullscreen; }
        // bind "Ctrl Space" { GoToNextTab; }
    }
    normal {
        // lock
        bind "Esc" "Enter" { SwitchToMode "locked"; }

        // add floating pane
        // https://github.com/zellij-org/zellij/discussions/2518
        // bind "f" {
        //     Run "zellij" "action" "new-pane" "--floating" {
        //         close_on_exit true
        //     }
        //     SwitchToMode "Locked"
        // }

        // pane
        bind "h" { MoveFocus "Left";  SwitchToMode "Locked"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "j" { MoveFocus "Down";  SwitchToMode "Locked"; }
        bind "k" { MoveFocus "Up";    SwitchToMode "Locked"; }
        bind "s" { NewPane   "Down";  SwitchToMode "Locked"; }
        bind "v" { NewPane   "Right"; SwitchToMode "Locked"; }
        bind "X" { CloseFocus;        SwitchToMode "Locked"; }
        // bind "R" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        // move
        bind "Left"  { MovePane "Left";  }
        bind "Down"  { MovePane "Down";  }
        bind "Up"    { MovePane "Up";    }
        bind "Right" { MovePane "Right"; }

        // toggles
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "F" { TogglePaneFrames;          SwitchToMode "Locked"; }

        // tab
        bind "t" { NewTab;                   SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0;        }
        bind "Tab" { GoToNextTab;                                     }
        // bind "Shift Tab" { GoToPreviousTab;                        }
        bind "1" { GoToTab 1;                SwitchToMode "Locked"; }
        bind "2" { GoToTab 2;                SwitchToMode "Locked"; }
        bind "3" { GoToTab 3;                SwitchToMode "Locked"; }
        bind "4" { GoToTab 4;                SwitchToMode "Locked"; }
        bind "5" { GoToTab 5;                SwitchToMode "Locked"; }
        bind "S" { ToggleActiveSyncTab;      SwitchToMode "Locked"; }
        // bind "X" { CloseTab;                 SwitchToMode "Locked"; }
        bind "L" { MoveTab "Right"; }
        bind "H" { MoveTab "Left";  }

        // resize
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "Alt h" { Resize "Increase Left";  }
        bind "Alt j" { Resize "Increase Down";  }
        bind "Alt k" { Resize "Increase Up";    }
        bind "Alt l" { Resize "Increase Right"; }

        // session
        bind "d" { Detach; }
        bind "m" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }

        // layout
        bind "Space" { NextSwapLayout; }
    }

    // renaming modes
    renamepane {
        bind "Esc"   { UndoRenamePane; SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Locked";                 }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Locked";  }
        bind "Enter" { SwitchToMode "Locked";               }
    }
}

plugins {
    tab-bar         { path "tab-bar";         }
    status-bar      { path "status-bar";      }
    // strider         { path "strider"; }
    compact-bar     { path "compact-bar";     }
    session-manager { path "session-manager"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false

pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout false

// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
//
// session_serialization false

// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
serialize_pane_viewport true

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
//
scrollback_lines_to_serialize 5000

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    // https://github.com/rose-pine/zellij
    rose-pine {
        bg "#403d52"
        fg "#e0def4"
        red "#eb6f92"
        green "#31748f"
        blue "#9ccfd8"
        yellow "#f6c177"
        magenta "#c4a7e7"
        orange "#fe640b"
        cyan "#ebbcba"
        black "#191724"
        white "#e0def4"
    }

    custom {
        bg "#0A0A0A"
        fg "#4d4d4d" // inactive tab color
        red "#FF0000"
        green "#00FF00"
        blue "#0000FF"
        yellow "#FFFF00"
        magenta "#FF00FF"
        orange "#FFA500"
        cyan "#00FFFF"
        black "#0A0A0A" // status bar background
        white "#FFFFFF" // 'Zellij' text color (alternating tab color in simplified_ui)
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
// https://github.com/zellij-org/zellij/tree/main/zellij-utils/assets/themes
// theme "gruvbox-dark"
theme "custom"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "system"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
layout_dir "/Users/jshu/.config/zellij/layouts/"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// Default: true
//
// styled_underlines false

ui {
    pane_frames {
        hide_session_name true
        rounded_corners false
    }
}
