# paths
# path+=('/Library/TeX/texbin/tex')
# path+=('/usr/local/texlive/2023basic/bin/universal-darwin')
path+=/usr/local/texlive/2023basic/bin/universal-darwin
alias alacritty='/Applications/Alacritty.app/Contents/MacOS/alacritty'

# python
alias py='python'
alias pipu="pip freeze | cut -d'=' -f1 | xargs -n1 pip install -U"
alias req='pip freeze > requirements.txt'
alias act='source .venv/bin/activate'

# vim/bash
alias v='vim'
alias sz='exec zsh'

# tmux
alias tm='tmux'
alias a='attach'
alias tmk='tmkill'
alias tmn='tmname'

# yadm
alias y='yadm'
alias ys='y status'
alias yd='y diff'
alias yp='y pull'

function yy() {
    y add -u
    ys
    echo "enter commit message:"
    read commit_msg
    y commit -m "$commit_msg" && y push
}

# new named session
new() {
    if [ -z "$1" ]; then
        echo 'no arguments provided'
    else
        tm new -s "$1"
    fi
}

# attach session
attach() {
    if [ -z "$1" ]; then
        echo 'no arguments provided'
    else
        tm attach -t "$1"
    fi
}

# kill session
tmkill() {
    if [ -z "$1" ]; then
        echo 'no arguments provided'
    else
        tm kill-session -t "$1"
    fi
}

tmname() {
    if [ -z "$1" ]; then
        echo 'no arguments provided'
    else
        printf '\033]2;%s\033\\' "$*"
    fi
}

# nav
alias ll='ls -lAth'
alias h='cd ~'
alias desk='cc /mnt/c/Users/jshu/Desktop'
alias g='cd ~/git && ls'
alias mnt='mount | grep -E ^/dev | column -t'
alias path='echo -e ${PATH//:/\\n}'
alias env="env | sort | awk -F= '{printf \"%-30s %s\n\", \$1, \$2}'"

up() {
    local count=${1:-1}
    cd $(printf "%0.s../" $(seq 1 $count))
}

cc() {
    if [ -z "$1" ]; then
        cd .. && ll
    else
        cd "$@" && ll
    fi
}
