alias v='vim'
alias sz='exec zsh'

# python
alias python='python3'
alias pipu="pip freeze | cut -d'=' -f1 | xargs -n1 pip install -U"
alias req='pip freeze > requirements.txt'
alias act='source .venv/bin/activate'

# yadm
alias y='yadm'
alias ys='y status'
alias yd='y diff'
alias yp='y pull'
function yy() {
    yp
    y add -u
    ys
    echo "enter commit message:"
    read commit_msg
    y commit -m "$commit_msg" && y push
}

# nav
alias h='cd ~ && ls'
alias desk='cd ~/Desktop && ls'
alias g='cd ~/git  && ls'
alias mnt='mount | grep -E ^/dev | column -t'
alias path='echo -e ${PATH//:/\\n}'
alias env="env | sort | awk -F= '{printf \"%-30s %s\n\", \$1, \$2}'"
# [b]ack [n] directories
alias b='b() { cd $(printf "%0.s../" $(seq 1 ${1:-1})); } && b'
# ls
alias l='ls'
# [l]ong [A]lmost all [o]ctal perms [t]ime modified
alias ll='ls -lAot'
# [T]ree [L]evel
alias llt='ll -T -L'
function d() {
    if [ -z "$1" ]; then
        cd .. && ls
    else
        cd "$1" && ls
    fi
}
function dd() {
    if [ -z "$1" ]; then
        cd .. && ll
    else
        cd "$1" && ll
    fi
}

# bat
alias cat='bat'

# zellij
alias z='zellij'
zz() {
    # default to 'dev' session
    if [ -z "$1" ]; then
        z a dev
    else
        z -s "$1"
    fi
}

# custom
export PATH="/Library/TeX/texbin/tex:$PATH"
# ripgrep config files
function rgc() {
    if [ -z "$1" ]; then
        echo "usage: rgc <pattern>"
    else
        files=()
        while IFS= read -r line; do
            if [[ $line == .* ]]; then
                files+=("$HOME/$line")
            fi
        done < <(yadm list)
        cmd=(rg \""$@"\" "${files[@]}")
        eval "${cmd[@]}"
    fi
}
