layout {
    default_tab_template {
        pane size=1 borderless=true {
            // https://github.com/dj95/zjstatus?tab=readme-ov-file
            plugin location="zjstatus" {
                format_left  "{mode}"
                format_right "{tabs}"

                // mode
                mode_default_to_mode "locked"
                mode_normal          "#[bg=white,fg=black] zellij… "
                mode_rename_tab      "#[bg=white,fg=black] rename tab… "
                mode_locked          ""

                // tabs
                tab_normal "#[fg=#4C566A]{name}{floating_indicator}{fullscreen_indicator}{sync_indicator} "
                tab_active "#[fg=white]{name}{floating_indicator}{fullscreen_indicator}{sync_indicator} "
                tab_sync_indicator       " 󰓦"
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰉈"
                tab_separator            "  "
            }
        }
        children
    }

    tab name="󰒓 config" cwd="~/.config" focus=true
    tab name="󰊗 pico8"  cwd="/Users/jshu/Library/Application Support/pico-8/carts"
    tab name="󱘗 rust"   cwd="~/git/rustlings/"
    tab name="󰌠 shokz"  cwd="~/git/shokz_downloader/"
    // tab name="ontap.api"    cwd="~/git/ontap/api/ontap/api"
    // tab name="ontap.common" cwd="~/git/ontap/common/ontap/common"
    // tab name="ontap.x"      cwd="~/git/ontap/ontap-x/ontap/x"
    // tab name="asa.next"     cwd="~/git/ontap/asa-next/ontap/asa/next"

    // normal
    swap_tiled_layout name="horizontal" {
        tab min_panes=2 {
            pane
            pane
            pane { children; }
        }
    }
    swap_tiled_layout name="vertical" {
        tab min_panes=2 {
            pane split_direction="vertical" {
                pane
                pane
                pane { children; }
            }
        }
    }

    // floating
    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }
}
