layout {
    default_tab_template {
        pane size=1 borderless=true {
            // https://github.com/dj95/zjstatus?tab=readme-ov-file
            plugin location="zjstatus" {
                format_left  "{mode}"
                format_right "{tabs}"

                // mode
                mode_default_to_mode "locked"
                mode_normal          "#[bg=white,fg=black] zellij… "
                mode_rename_tab      "#[bg=white,fg=black] rename tab… "
                mode_locked          ""

                // tabs
                // color_tab "#1d3b53"
                tab_normal "#[fg=black] {name} {floating_indicator}{fullscreen_indicator}{sync_indicator}"
                tab_active "#[fg=white,bg=black] {name} {floating_indicator}{fullscreen_indicator}{sync_indicator}"
                tab_sync_indicator       "󰓦 "
                tab_fullscreen_indicator "󰊓 "
                tab_floating_indicator   "󰉈 "
                tab_separator            " "
            }
        }
        children
    }

    tab name="󰒓 config" cwd="~/.config/" focus=true
    // tab name="󰵁 zig"    cwd="~/git/ziglings/"
    // tab name="󱘗 rust"   cwd="~/git/rustlings/"
    tab name="󰌠 shokz"  cwd="~/git/shokz_downloader/"
    tab name=" go"  cwd="~/git/go/"
    // tab name="ontap.api"    cwd="~/git/ontap/api/ontap/api"
    // tab name="ontap.common" cwd="~/git/ontap/common/ontap/common"
    // tab name="ontap.x"      cwd="~/git/ontap/ontap-x/ontap/x"
    // tab name="asa.next"     cwd="~/git/ontap/asa-next/ontap/asa/next"

    // normal
    swap_tiled_layout name="horizontal" {
        tab min_panes=2 {
            pane
            pane
            pane { children; }
        }
    }
    swap_tiled_layout name="vertical" {
        tab min_panes=2 {
            pane split_direction="vertical" {
                pane
                pane
                pane { children; }
            }
        }
    }

    // floating
    swap_floating_layout name="enlarged" {
        floating_panes max_panes=2 {
            pane { x 2; y 1; width "97%"; height "94%"; }
            pane { x 2; y 2; width "97%"; height "94%"; }
        }
    }
}
